<h1>Hello, Rails!</h1>

<!-- I don't like putting 'controller:' in my views unless I have to, but it works. -->
<%#= link_to "My Blog", controller: "posts" %>

<!-- This is how Rails prefers it: use the link helpers: -->
<%= link_to "My Blog", posts_path %>